<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<title>Rainbow</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body>
<div id="page">
  <div id="header">
    <div id="headerimg">
      <h1>About Page</a></h1>
      <div class="description">Ask us anything you need to know about us.</div>
    </div>
  </div>
  <hr />
  <div id="content" class="narrowcolumn">
    <div class="post" id="post-1">
      <h2>Hello world!</a></h2>
      <small>May 15th, 2016</small>
      <div class="entry">
        <p>Welcome to our page, you can make up your thoughts about our organization.</p>
      </div>
    </div>
    <div class="navigation">
      <div class="alignleft"></div>
      <div class="alignright"></div>
    </div>
  </div>
  
  <hr />
  <div id="footer">
    <p><br />
      © Ruby Pages Inc</p>
  </div>
 
<div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div></body>
</html>
<%= link_to 'Home', pages_home_path %>
