$navbar-default-bg: #8B4513;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('wood_cover_page.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1{
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}


.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}

.article-actions {
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #eaeaea;
}

.article-meta-details {
  margin-top: 15px;
  border-top: 1px solid #eaeaea;
}

.description {
  margin-top: 0;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: 222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}


footer ul li {
  float: left;
  margin-left: 15px;
}