<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <%= link_to "Download AlphaBlog code from my Github page",  "https://github.com/sl7v3/rails-alpha-blog", class: "github-link" %>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", pages_about_path %></li>
      </ul>
    </nav>
  </footer>
</div>